* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--primary-font);
}

svg {
  fill: var(--secondary-color)
}

.p0 {
  padding: 0;
}
