.link-to-us {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 55px;
  margin-left: 13px;

  background: #f7f7f7;
  border-radius: 9px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #f7f7f7;
    background: #fff;
  }
}
